.title-area{
	height: 100px;
}

.tab_menu{
	height: 40px;
}
.menu{
	border: 1px solid gray;
	padding:15px;
	width: 80px;
	text-align: center;
	display: inline;

}
.menu:hover{
	background-color: #d3d3d3;
}
.menu:active{
	background-color: #778899;
}
.menu_active{
	background-color: #d3d3d3;
	
}

.form-group{
	margin: 20px 0px 20px 0px;
}
.tab-content{
	border: 1px solid gray;
	height: 100%;
	background-color: white;
	padding: 15px;

}
.user-content{
	display: block;
}
.tag-content,.popular-content{
	display:none;
}
.loading{
text-align: center;
}
#tag-erorr-msg,#user-erorr-msg{
	color: red;
	font-size: 14px;
}
#user-search-btn,#tag-search-btn{
	padding: 3px 5px 3px 5px;
	background-color: #FFF;
	color: #696969;
	border: 1px solid #696969;
	border-radius: 5px;

}
#user-search-btn:hover,#tag-search-btn:hover{
	background-color: #d3d3d3;
}
#user-search-btn:active,#tag-search-btn:active{
	background-color: #778899;
}
