.tab_menu{
height: 40px;
}
.menu{
	border: 1px solid gray;
	padding:15px;
	width: 80px;
	text-align: center;
	display: inline;

}
.menu:hover{
	background-color: #d3d3d3;
}
.menu_active{

	background-color: #778899;
}

.form-group{
	margin: 20px 0px 20px 0px;
}
.tab-content{
	border: 1px solid gray;
	height: 100%;
	background-color: white;
	padding: 15px;

}
.user-content{
	display: block;
}
.tag-content,.popular-content{
	display:none;
}
